In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [ ]:
https://www.kaggle.com/datasets/rounak041993/traffic-violations-in-maryland-county/code

In [2]:
df = pd.read_csv('Traffic_Violations.csv')
df.head()
# To July 28, 2022

,Date Of Stop,Time Of Stop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,...,Charge,Article,Contributed To Accident,Race,Gender,Driver City,Driver State,DL State,Arrest Type,Geolocation
0,09/24/2013,17:11:00,MCP,"3rd district, Silver Spring",DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGI...,8804 FLOWER AVE,NaN,NaN,No,No,...,13-401(h),Transportation Article,No,BLACK,M,TAKOMA PARK,MD,MD,A - Marked Patrol,NaN
1,08/29/2017,10:19:00,MCP,"2nd district, Bethesda",DRIVER FAILURE TO OBEY PROPERLY PLACED TRAFFIC...,WISCONSIN AVE@ ELM ST,38.981725,-77.092757,No,No,...,21-201(a1),Transportation Article,No,WHITE,F,FAIRFAX STATION,VA,VA,A - Marked Patrol,"(38.981725, -77.0927566666667)"
2,12/01/2014,12:52:00,MCP,"6th district, Gaithersburg / Montgomery Village",FAILURE STOP AND YIELD AT THRU HWY,CHRISTOPHER AVE/MONTGOMERY VILLAGE AVE,39.162888,-77.229088,No,No,...,21-403(b),Transportation Article,No,BLACK,F,UPPER MARLBORO,MD,MD,A - Marked Patrol,"(39.1628883333333, -77.2290883333333)"
3,08/29/2017,09:22:00,MCP,"3rd district, Silver Spring",FAILURE YIELD RIGHT OF WAY ON U TURN,CHERRY HILL RD./CALVERTON BLVD.,39.056975,-76.954633,No,No,...,21-402(b),Transportation Article,No,BLACK,M,FORT WASHINGTON,MD,MD,A - Marked Patrol,"(39.056975, -76.9546333333333)"
4,08/28/2017,23:41:00,MCP,"6th district, Gaithersburg / Montgomery Village",FAILURE OF DR. TO MAKE LANE CHANGE TO AVAIL. L...,355 @ SOUTH WESTLAND DRIVE,NaN,NaN,No,No,...,21-405(e1),Transportation Article,No,WHITE,M,GAITHERSBURG,MD,MD,A - Marked Patrol,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292399 entries, 0 to 1292398
Data columns (total 35 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Date Of Stop             1292399 non-null  object
 1   Time Of Stop             1292399 non-null  object
 2   Agency                   1292399 non-null  object
 3   SubAgency                1292389 non-null  object
 4   Description              1292390 non-null  object
 5   Location                 1292397 non-null  object
 6   Latitude                 1197045 non-null  float64
 7   Longitude                1197045 non-null  float64
 8   Accident                 1292399 non-null  object
 9   Belts                    1292399 non-null  object
 10  Personal Injury          1292399 non-null  object
 11  Property Damage          1292399 non-null  object
 12  Fatal                    1292399 non-null  object
 13  Commercial License       1292399 non-null  object
 14  HAZMAT                   1292399 non-null  object
 15  Commercial Vehicle       1292399 non-null  object
 16  Alcohol                  1292399 non-null  object
 17  Work Zone                1292399 non-null  object
 18  State                    1292340 non-null  object
 19  VehicleType              1292399 non-null  object
 20  Year                     1284325 non-null  float64
 21  Make                     1292342 non-null  object
 22  Model                    1292212 non-null  object
 23  Color                    1276272 non-null  object
 24  Violation Type           1292399 non-null  object
 25  Charge                   1292399 non-null  object
 26  Article                  1227230 non-null  object
 27  Contributed To Accident  1292399 non-null  object
 28  Race                     1292399 non-null  object
 29  Gender                   1292399 non-null  object
 30  Driver City              1292182 non-null  object
 31  Driver State             1292388 non-null  object
 32  DL State                 1291470 non-null  object
 33  Arrest Type              1292399 non-null  object
 34  Geolocation              1197045 non-null  object
dtypes: float64(3), object(32)
memory usage: 345.1+ MB

In [4]:
df.Agency.value_counts()  # drop agency

MCP    1292399
Name: Agency, dtype: int64

In [5]:
df.SubAgency.value_counts()

4th district, Wheaton                              322815
3rd district, Silver Spring                        261679
2nd district, Bethesda                             198158
6th district, Gaithersburg / Montgomery Village    168963
1st district, Rockville                            151530
5th district, Germantown                           147679
Headquarters and Special Operations                 41565
Name: SubAgency, dtype: int64

In [6]:
df.Description.value_counts()

DRIVER FAILURE TO OBEY PROPERLY PLACED TRAFFIC CONTROL DEVICE INSTRUCTIONS                         102974
FAILURE TO DISPLAY REGISTRATION CARD UPON DEMAND BY POLICE OFFICER                                  61248
DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGISTRATION                                              43935
FAILURE OF INDIVIDUAL DRIVING ON HIGHWAY TO DISPLAY LICENSE TO UNIFORMED POLICE ON DEMAND           33778
DRIVER USING HANDS TO USE HANDHELD TELEPHONE WHILEMOTOR VEHICLE IS IN MOTION                        30688
                                                                                                    ...
OPER MV W/REQUIRED LAMPS, REFLECTORS OBSCURED BY COVER/TINT                                             1
DRIVING MOTOR VEH. ON HWY., PUBLICLY USED PRIVATE PLACE WEARING EARPLUGS/PHONES IN/ON BOTH EARS         1
OPERATOR OF MOPED, MOTOR SCOOTER)FAILURE TO CARRY REQUIRED SECURITY                                     1
DRIING UNSAFE VEH. ON HWY.                                                                              1
Fuel Cap                                                                                                1
Name: Description, Length: 12631, dtype: int64

In [7]:
df.Location.value_counts()

IS 370 @ IS 270                    1981
WAYNE AVE @ DALE DR                1894
W/B IS 370 @ IS 270                1884
WOODFIELD RD @ EMORY GROVE RD      1584
RANDOLPH / COLIE                   1494
                                   ...
COLESVILLE RD / E. FRANKLIN AVE       1
WISCONSIN AV @ NORFOLK AVENUE         1
1ST AVE AT FENWICK LN                 1
WAYNE AVE /FENTON ST                  1
MD 193/ 495                           1
Name: Location, Length: 186999, dtype: int64

In [8]:
df.Accident.value_counts()  # drop

No    1292399
Name: Accident, dtype: int64

In [9]:
df.Belts.value_counts()

No     1247956
Yes      44443
Name: Belts, dtype: int64

In [10]:
df['Personal Injury'].value_counts()

No     1277383
Yes      15016
Name: Personal Injury, dtype: int64

In [12]:
df['Property Damage'].value_counts()

No     1267535
Yes      24864
Name: Property Damage, dtype: int64

In [13]:
df.Fatal.value_counts()

No     1292120
Yes        279
Name: Fatal, dtype: int64

In [15]:
df['Commercial License'].value_counts()

No     1253962
Yes      38437
Name: Commercial License, dtype: int64

In [16]:
df.HAZMAT.value_counts()

No     1292272
Yes        127
Name: HAZMAT, dtype: int64

In [17]:
df['Commercial Vehicle'].value_counts()

No     1285777
Yes       6622
Name: Commercial Vehicle, dtype: int64

In [18]:
df.Alcohol.value_counts()

No     1290191
Yes       2208
Name: Alcohol, dtype: int64

In [19]:
df['Work Zone'].value_counts()

No     1292151
Yes        248
Name: Work Zone, dtype: int64

In [20]:
df.State.value_counts()

MD    1130381
VA      53797
DC      32580
XX      10370
PA       9260
       ...
PE          3
NF          2
AS          2
MH          1
IT          1
Name: State, Length: 69, dtype: int64

In [21]:
df.VehicleType.value_counts()

02 - Automobile              1131891
05 - Light Duty Truck          72034
28 - Other                     24339
03 - Station Wagon             20635
06 - Heavy Duty Truck          12150
01 - Motorcycle                12123
29 - Unknown                    8457
08 - Recreational Vehicle       4187
25 - Utility Trailer            1362
19 - Moped                      1359
07 - Truck/Road Tractor         1191
04 - Limousine                   778
20 - Commercial Rig              660
10 - Transit Bus                 439
12 - School Bus                  236
27 - Farm Equipment              117
09 - Farm Vehicle                 96
26 - Boat Trailer                 90
21 - Tandem Trailer               75
11 - Cross Country Bus            57
23 - Travel/Home Trailer          28
22 - Mobile Home                  25
13 - Ambulance(Emerg)             13
24 - Camper                       12
18 - Police(Non-Emerg)            11
14 - Ambulance(Non-Emerg)         11
15 - Fire(Emerg)                   5
16 - Fire(Non-Emerg)               4
18 - Police Vehicle                4
17 - Police(Emerg)                 4
15 - Fire Vehicle                  3
14 - Ambulance                     2
13 - Ambulance                     1
Name: VehicleType, dtype: int64

In [23]:
df['Violation Type'].value_counts()

Warning     620103
Citation    607150
ESERO        64224
SERO           922
Name: Violation Type, dtype: int64

In [24]:
df.Charge.value_counts()

21-801.1       166514
21-201(a1)     102974
13-409(b)       61615
13-401(h)       44469
21-707(a)       41262
                ...
21-1003(ee)         1
10-310(b)           1
22-228(d)           1
21-902(d2I)         1
8-409(i)            1
Name: Charge, Length: 1029, dtype: int64

In [25]:
df.Article.value_counts()

Transportation Article    1214130
Maryland Rules              13100
Name: Article, dtype: int64

In [26]:
df['Contributed To Accident'].value_counts()

No     1261498
Yes      30901
Name: Contributed To Accident, dtype: int64

In [27]:
df.Race.value_counts()

WHITE              465808
BLACK              407493
HISPANIC           271966
ASIAN               75454
OTHER               68738
NATIVE AMERICAN      2940
Name: Race, dtype: int64

In [28]:
df.Gender.value_counts()

M    865862
F    425097
U      1440
Name: Gender, dtype: int64

In [39]:
df.Color.value_counts()

BLACK          259499
SILVER         236828
WHITE          197558
GRAY           141092
RED            101733
BLUE            94814
GREEN           49520
GOLD            41177
BLUE, DARK      27111
TAN             27015
MAROON          22408
BLUE, LIGHT     17221
BEIGE           15047
GREEN, DK       14457
GREEN, LGT       7345
BROWN            6021
YELLOW           4889
ORANGE           4538
BRONZE           2964
PURPLE           2524
MULTICOLOR       1021
CREAM             837
COPPER            414
PINK              188
CHROME             27
CAMOUFLAGE         24
Name: Color, dtype: int64

In [29]:
df['Driver City'].value_counts()

SILVER SPRING    322949
GAITHERSBURG     132171
GERMANTOWN       105725
ROCKVILLE        105359
WASHINGTON        39612
                  ...
HANFORD               1
BELFORD               1
DOUBS                 1
COLLEEGBILLE          1
BELL GARDENS          1
Name: Driver City, Length: 7293, dtype: int64

In [30]:
df['Driver State'].value_counts()

MD    1167314
DC      41101
VA      39909
PA       6775
FL       4532
       ...
PE          2
IT          1
NS          1
NB          1
PQ          1
Name: Driver State, Length: 68, dtype: int64

In [31]:
df['DL State'].value_counts()

MD    1123914
VA      42858
DC      41768
XX      17732
PA       8091
       ...
PQ          6
PE          5
MH          5
NS          5
NF          1
Name: DL State, Length: 70, dtype: int64

In [32]:
df['Arrest Type'].value_counts()

A - Marked Patrol                         1062884
Q - Marked Laser                           123743
B - Unmarked Patrol                         41345
S - License Plate Recognition               13412
O - Foot Patrol                             12673
L - Motorcycle                              11402
E - Marked Stationary Radar                  8025
G - Marked Moving Radar (Stationary)         6025
R - Unmarked Laser                           5604
I - Marked Moving Radar (Moving)             2027
M - Marked (Off-Duty)                        1898
H - Unmarked Moving Radar (Stationary)        851
F - Unmarked Stationary Radar                 818
C - Marked VASCAR                             450
J - Unmarked Moving Radar (Moving)            436
P - Mounted Patrol                            315
D - Unmarked VASCAR                           258
N - Unmarked (Off-Duty)                       178
K - Aircraft Assist                            55
Name: Arrest Type, dtype: int64

In [33]:
df.Geolocation.value_counts()

(39.045425, -76.9907366666667)           551
(39.0462766666667, -76.990695)           431
(39.109775, -76.91044)                   327
(39.0056183333333, -77.0123283333333)    268
(39.11061, -76.9897983333333)            253
                                        ...
(39.0854766666667, -77.0615233333333)      1
(39.1629916666667, -77.0616583333333)      1
(39.0690883333333, -77.060015)             1
(38.9738366666667, -77.1210866666667)      1
(39.0171391166667, -77.0063790833333)      1
Name: Geolocation, Length: 633935, dtype: int64

In [38]:
df.isnull().sum()

Date Of Stop                   0
Time Of Stop                   0
Agency                         0
SubAgency                     10
Description                    9
Location                       2
Latitude                   95354
Longitude                  95354
Accident                       0
Belts                          0
Personal Injury                0
Property Damage                0
Fatal                          0
Commercial License             0
HAZMAT                         0
Commercial Vehicle             0
Alcohol                        0
Work Zone                      0
State                         59
VehicleType                    0
Year                        8074
Make                          57
Model                        187
Color                      16127
Violation Type                 0
Charge                         0
Article                    65169
Contributed To Accident        0
Race                           0
Gender                         0
Driver City                  217
Driver State                  11
DL State                     929
Arrest Type                    0
Geolocation                95354
dtype: int64